[Unit]
Description=ResMon

[Service]
ExecStart=/usr/bin/python3 monitor.py
WorkingDirectory=/opt/resmon
User=root

[Install]
WantedBy=multi-user.target
